<%- include('../partials/dashboard-open', {title: 'kandidat | sistem penerimaan pegawai'}) %>
<div class="rounded-lg bg-base-100 overflow-hidden" x-data="{ tab: 'profile' }">
	<div class="tabs bg-base-200">
		<a 
			class="tab tab-lifted tab-lg w-1/3" 
			:class="tab == 'profile' ? 'tab-active': ''" 
			@click="tab = 'profile'"
		>
			Profile
		</a> 
		<a 
			class="tab tab-lifted tab-lg w-1/3" 
			:class="tab == 'password' ? 'tab-active': ''" 
			@click="tab = 'password'"
		>
			Reset Password
		</a> 
		<a 
			class="tab tab-lifted tab-lg w-1/3" 
			:class="tab == 'cv' ? 'tab-active': ''" 
			@click="tab = 'cv'"
		>
			Update CV
		</a>
	</div>

	<div class="p-4 bg-base-100">
		<a href="/dashboard-admin/kandidat" class="btn btn-ghost mb-4 text-secondary">
			<i class="ph-arrow-fat-left mr-2"></i>
			kembali
		</a>

		<form method="post" x-show="tab == 'profile'">
			<div class="form-control w-full mb-12">
				<label for="username" class="label">Username</label>
				<input required id="username" value="<%= data.username %>" type="text" class="input input-bordered" name="username">
			</div>

			<div class="form-control w-full mb-12">
				<label for="nama" class="label">Nama Lengkap</label>
				<input required id="nama" value="<%= data.nama %>" type="text" class="input input-bordered" name="nama">
			</div>
			<div class="form-control w-full mb-12">
				<label for="telpon" class="label">No Telepon</label>
				<input required id="telpon" value="<%= data.telpon %>" type="text" class="input input-bordered" name="telpon">
			</div>

			<div class="form-control w-full mb-12">
				<label for="email" class="label">Email</label>
				<input required id="email" value="<%= data.email %>" type="email" class="input input-bordered" name="email">
			</div>			
			<button class="btn btn-primary">
				<i class="ph-floppy-disk mr-2 text-xl"></i>
				update profile
			</button>
		</form>

		<form method="post" action="/dashboard-admin/kandidat/edit/<%= data.id %>/reset-password" x-show="tab == 'password'" x-data="{ password: '', confirm: '',  initPassword: true, initConfirm: true }">
			<div class="form-control w-full mb-12">
				<label for="password" class="label">Password</label>
				<input required id="password" x-on:input="initPassword = false" x-model="password" type="password" class="input input-bordered" name="password">
				<p class="label-alt text-error" x-show="!initPassword && password.length < 4">Panjang Minimal Password 4 Karakter</p>
			</div>

			<div class="form-control w-full mb-12">
				<label for="confirm-password" class="label">Konfirmasi Password</label>
				<input required id="confirm-password" x-on:input="initConfirm = false" x-model="confirm"  type="password" class="input input-bordered" name="confirm">
				<p class="label-alt text-error" x-show="!initConfirm && confirm != password">Konfirmasi Password Tidak Sama Dengan Password</p>
			</div>			
			<button x-show="password == confirm && password.length > 3" class="btn btn-primary">
				<i class="ph-floppy-disk mr-2 text-xl"></i>
				reset password
			</button>			
		</form>

		<form method="post" action="/dashboard-admin/kandidat/edit/<%= data.id %>/update-cv" enctype="multipart/form-data" x-show="tab == 'cv'">
			<div class="form-control w-full mb-12 lg:col-span-2">
				<label for="cv" class="label">CV</label>
				<input required id="cv" type="file" class="input input-bordered" name="cv">
			</div>			
			<button class="btn btn-primary">
				<i class="ph-floppy-disk mr-2 text-xl"></i>
				update cv
			</button>
		</form>
	</div>
</div>
<%- include('../partials/dashboard-close', {active: 'kandidat'}) %>