<%- include('../partials/dashboard-open', {title: 'loker | sistem penerimaan pegawai'}) %>

<div class="mockup-window bg-base-100" x-data="{ nilai: <%= data.kuota %> }">
	<div class="p-4 bg-base-100">
		<a href="/dashboard-admin/loker/posisi/<%= data.posisi_id %>" class="btn btn-ghost mb-4 text-secondary">
			<i class="ph-arrow-fat-left mr-2"></i>
			kembali
		</a>

		<form method="post">
			<input type="hidden" name="posisi_id" value="<%= data.posisi_id %>">

			<div class="form-control w-full mb-12">
				<label class="label">Posisi</label>
				<input type="text" class="input input-bordered" value="<%= data.nama %>" disabled>
			</div>


			<div class="form-control w-full mb-12">
				<label class="label">Tanggal Ditutup</label>
				<input name="ditutup" type="date" class="input input-bordered" value="<%= formatDate(data.ditutup, "-") %>">
			</div>
			
			<div class="form-control w-full mb-12">
				<label for="nilai" class="label">Nilai</label>
				<input id="nilai" x-model="nilai" type="number" value="<%= data.kuota %>" min="0" class="input input-bordered" name="kuota" required>
				<p class="label-alt" x-show="nilai < 1"><span class="text-error">**</span>kuota diterimanya pelamar harus lebih dari 0 !!</p>
			</div>
	
			<button type="submit" class="btn btn-primary" x-show="nilai >= 0">
				<i class="ph-floppy-disk mr-2 text-xl"></i>
				simpan
			</button>
		</form>

	</div>
</div>

<%- include('../partials/dashboard-close', {active: 'loker'}) %>